root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8
indent_style = space
tab_width = 4

[*.{yml,yaml,toml,json}]
indent_size = 2
ij_yaml_spaces_within_braces = false
ij_yaml_spaces_within_brackets = false

[**/makefile*]
indent_size = 8
indent_style = tab
max_line_length = 120

[COMMIT_EDITMSG]
indent_size = 4
max_line_length = 80

[*.patch]
trim_trailing_whitespace = false

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2
ij_shell_binary_ops_start_line = false
ij_shell_keep_column_alignment_padding = false
ij_shell_minify_program = false
ij_shell_redirect_followed_by_space = false
ij_shell_switch_cases_indented = false
ij_shell_use_unix_line_separator = true
